body,html{
	margin: 0;
	padding: 0;
	max-width: 1200px;
	margin: auto;
}
html{

    background-image: url('../bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
h1{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
	display: block;
	margin-top: auto;
}
div.container{
	width: 70%;
	margin: auto;
}
.form{
	text-align: center;
}
input{

	font-size: 1em;
	padding: 5px 10px 5px 10px;
	text-align: center;
	border-radius: 10px;
  color: rgb(153, 51, 153);
  font-weight: bold;

}
input.focus{

  background-color: rgba(153, 51, 153,0.75);
  color: white;
}
input.blur{
  background-color: white;
  color: rgb(153, 51, 153);
}
label{
	font-size: 1.4em;
}
button{
	background-color: rgba(153, 51, 153,0.6);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

  margin-top: 10px;
  width: 250px;	
  border-style: solid;
  border-width: 2px;
  border-color: white;
  margin-top: 20px;
  margin-bottom: 45px;

}
@media screen and (min-width: 1200px) {

  div.row{
    height: 23px;
  }
}
div.row{
  
	display: none;
	background-color: rgba(153, 51, 153,0.75);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  opacity: 0.85;
  margin-top: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}
div.cell{
	width: 70%;
	padding-left: 30px;

}
div.value{
	text-align: center;
  width: 30%;

}

footer{
  width: 100%;
  padding-bottom: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 0.75em;
}


